body {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #bfb8b0;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover {
  background: #c2c0c0;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}

#menu1{ border:1px solid black;}
#menu2{ border:1px solid black; }
#menu3{ border:1px solid black; }

/* END HEADER */

/* main content */

h1{
  text-align: center;
  font-family: "sans-serif";
  font-weight: bold;
}
.box, .box2 , .box3{
  display: block;
  width: 90%;
  height: auto;
  border: 0;
  margin-left: 5%;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #c2c0c0;
  }


h2{
  text-align: center;
  margin-right: 0;
  font-family: "cursive;";
  font-weight: bold;
}

p{
  padding-top:10px;
  padding-left:20px;
  padding-right: :15px;
  padding-bottom:20px;
}

/**** end *****/
/********** Large devices only **********/
@media (min-width: 1200px) {

		.container{
					height: 100px;
					}

		.navbar-brand {
  					padding-top: 35px;
					}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 		 .container{
					height: 100px;
					}
		.navbar-brand {
  					padding-top: 35px;
					}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.container{
					height: 100px;
					}
	.navbar-brand {
  					padding-top: 35px;
					}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
}
